*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mada';
}
body{
    background-color: hsla(0, 0%, 100%, 0.75);
    display: flex;
    place-items: center;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100vh;
}
.column-card{
    width:70%;
}
.card{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color:white;
   
}

@media screen and (max-width: 1000px)  {
    body{
        display: flex;
        place-items: center;
        align-items: center;
        justify-content: center;
        margin: 10% 0%;

    }
    .column-card{
        width:50%;
    }
    .card{
        display: flex;
        font-size: 10px;
        flex-wrap: wrap;
        font-weight: 400;
        font-family: 'Mada';
    }
}
.card-1{
    background-color: hsl(31, 77%, 52%);
    padding:9% 7%;
    border-top-left-radius:  10px;
    border-bottom-left-radius: 10px;
}

.card-1 a:hover{
    color:hsl(31, 77%, 52%);
    background-color: white;
}
.card-2{
    background-color:hsl(184, 100%, 22%) ;
    padding: 9% 6% ;
}
.card-2 a:hover{
    color:hsl(184, 100%, 22%);
    background-color: white;
}
.card-3{
    background-color: hsl(179, 100%, 13%);
    padding:9% 5%;
    border-top-right-radius:  10px;
    border-bottom-right-radius: 10px;
}
.card-3 a:hover{
    color:hsl(179, 100%, 13%);
    background-color: white;
}

@media screen and (max-width:1000px) {
    .card-1{
       border-radius: 5% 5% 0% 0%;
    }
    .card-3{
        border-radius: 0% 0% 5% 5%;
    }
}
.card h2{
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.5rem;
}
.card img{
    width:30%;
}
.card p{
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 400;
}
.card a{
    padding:10px 20px;
    background-color:transparent;
    text-decoration: none;
    border-radius: 30px;
    font-weight:600;
    border:2px solid white;
    color: white;

}
@media screen and (max-width:1000px) {
    .card a{
        justify-content: center;
        border-radius: 20px;
    }
    .card-h2{
        margin-top:8px;
        font-size: 1.5rem;
    }
    .card img{
        width:20%;
    }
    .card p{
        margin-top:10px;
        margin-bottom: 18px;
    }
}
